<h2>Current</h2>

<h3>Executive</h3>
{{ range $executive_member := $.Site.Data.about.current.executive }}
  <h4>
  {{ $executive_member.position }}
  </h4>
  
  <p>
  {{ $executive_member.name }} ('{{ $executive_member.graduation_year }})
  </p>

  {{ range $socials := $executive_member.socials}}
  <p>
    {{ $socials }}
  </p>
  {{ end }}
{{ end }}

<h3>Contributing</h3>
{{ range $contributing_member := $.Site.Data.about.current.contributing }}
  <p>
  {{ $contributing_member.name }} ('{{ $contributing_member.graduation_year }})
  </p>

  {{ range $socials := $contributing_member.socials}}
  <p>
    {{ $socials }}
  </p>
  {{ end }}
{{ end }}

<h2>Past</h2>
{{ range $year, $val := $.Site.Data.about.past.executive }}
  <h3>{{ $year }}</h3>
    {{ range $executive_member := $val }}
    <h4>
    {{ $executive_member.position }}
    </h4>
  
    <p>
    {{ $executive_member.name }} ('{{ $executive_member.graduation_year }})
    </p>

    {{ range $socials := $executive_member.socials}}
    <p>
      {{ $socials }}
    </p>
    {{ end }}
  {{ end }}
{{ end }}
