{{ range sort $.Site.Data.education.event "" "desc" }}

  <!-- Just read the first value of a year and get the year -->
  <h2>Year: {{ (index . 0).date.year }}</h2>
  
  {{ range sort . ".date.week" "desc"}}
    <div class="event">
      <h3>Week {{ .date.week }} - {{ .title }}</h3>
      <p>{{ .description }}</p>
      <p>Hosts: {{ delimit .hosts ", " }}</p>
      
      {{ range .links }}
        <div class="link">
          <a href="{{ .url }}">{{ .title}}</a>
        </div>
      {{ end }}
           
    </div>
  {{ end }}
{{ end }}
