{{ $events := partial "education/split_event_years.html" $.Site.Data.education }}

<div class="yearsContainer">
{{ range ( sort $events "" "desc" )}}
  <div class="yearContainer">
    <h2 class="yearDate">{{ (index . 0 ).date.year}}</h2>
    {{ range ( sort . ".date.week" "desc" )}}
      <div class="year">
        <h3 class="weekDate">Week {{.date.week}}</h3>
        <div class="title">{{.title}}</div>
        <div class="description">{{.description}}</div>

        <div class="host">
          {{ delimit .hosts ", " }}
        </div>
        
        <div class="links">
          {{ range .links }}
            <div class="link">
              <div><a href="{{ .url }}">{{.title}}</a></div>
            </div>
          {{ end }}
        </div>
      </div>
    {{ end }}
  </div>
{{ end }}
</div>