{{ range $year, $val := $.Site.Data.education }}
  <div class="year">
    <hr>
    <h2>
      {{ $year }}
    </h2>

      <!-- Weeks -->
      {{range $week, $val := $val }}
        <div class="week">
          <!-- Week # -->
          <h3>
            Week {{ $week }}
          </h3>
      
          <!-- Week Title -->
          <h4>
            {{ index (index $val 0) "title" }}
          </h4>
      
          <!-- Week Description -->
          <p>
            Description: {{ index (index $val 0) "description" }}
          </p>
          
          <p>
            Host: {{index (index $val 0) "host" }}
          </p>
      
          <!-- Lessons -->
          {{ range $val := (index $val 0).lesson }}
            <div class="lesson">
              <!-- Lesson Title -->
              <h5>
                {{ index $val "title" }}
              </h5>
        
              <!-- Lesson Description -->
              <p>
                {{ index $val "description" }}
              </p>
        
              <!-- Lessons Link -->
              <p>
                {{ index $val "link" }}
              </p>
            </div>
          {{ end }}
          </div>
      {{ end }}
  </div>
{{ end }}
