<h2>Stewarded</h2>
<p>These are projects that are ran by the BFHS-Open Organization</p>

{{ range $val := $.Site.Data.projects.stewarded }}
	<h3>{{ $val.name }}</h3>
	
	<p>{{ $val.description }}</p>
	
	<p>
	{{ range $member := $val.members }}
		{{ $member }}, 
	{{ end }}
	</p>
	
	<p><a href="{{ $val.link }}">{{ $val.link }}</a></p>
{{ end }}

<h2>Affiliated</h2>
<p>These are projects that are affiliated to BFHS-Open, such as being maintained by a member or having active contributions through members</p>

{{ range $val := $.Site.Data.projects.affiliated}}
	<h3>{{ $val.name }}</h3>
	
	<p>{{ $val.description }}</p>
	
	{{ range $member := $val.members }}
		<p>{{ $member }}</p>
	{{ end }}
	
	<p><a href="{{ $val.link }}">{{ $val.link }}</a></p>
{{ end }}

<h2>Contributed</h2>
<p>These are projects that are not related to BFHS-Open, but which have had contributions by their current members</p>

{{ range $val := $.Site.Data.projects.contributed }}
	<h3>{{ $val.name }}</h3>
	
	<p>{{ $val.description }}</p>
	
	{{ range $member := $val.members }}
		<p>{{ $member }}</p>
	{{ end }}
	
	<p><a href="{{ $val.link }}">{{ $val.link }}</a></p>
{{ end }}
